<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>Ru</string>
	<key>CFBundleDisplayName</key>
	<string>Profapp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>bank100000000170</string>
		<string>bank100000000235</string>
		<string>bank100000000201</string>
		<string>bank100000000084</string>
		<string>bank100000000187</string>
		<string>bank100000000172</string>
		<string>bank100000000140</string>
		<string>bank100000000069</string>
		<string>bank100000000118</string>
		<string>bank100000000027</string>
		<string>bank100000000229</string>
		<string>bank100000000053</string>
		<string>bank100000000065</string>
		<string>bank100000000022</string>
		<string>bank100000000900</string>
		<string>bank100000000500</string>
		<string>bank100000000215</string>
		<string>bank100000000034</string>
		<string>bank100000000177</string>
		<string>bank100000000029</string>
		<string>bank100000000047</string>
		<string>bank100000000006</string>
		<string>bank100000000017</string>
		<string>bank100000000082</string>
		<string>bank100000000095</string>
		<string>bank100000000049</string>
		<string>bank100000000044</string>
		<string>bank100000000011</string>
		<string>bank100000000028</string>
		<string>bank100000000014</string>
		<string>bank100000000016</string>
		<string>bank100000000030</string>
		<string>bank100000000025</string>
		<string>bank100000000020</string>
		<string>bank100000000012</string>
		<string>bank100000000013</string>
		<string>bank100000000010</string>
		<string>bank100000000001</string>
		<string>bank100000000015</string>
		<string>bank100000000007</string>
		<string>bank100000000008</string>
		<string>bank100000000005</string>
		<string>bank100000000111</string>
		<string>bank100000000004</string>
		<string>tinkoffbank</string>
		<string>tg</string>
		<string>telegram</string>
		<string>whatsapp</string>
		<string>tel</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCalendarsUsageDescription</key>
	<string>Разрешите доступ для добавления новых посещений в календарь</string>
	<key>NSCameraUsageDescription</key>
	<string>Разрешите доступ к камере, чтобы сделать фото профиля</string>
	<key>NSContactsUsageDescription</key>
	<string>Разрешие доступ к контактам, чтобы добавить клиента из списка </string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Разрешите доступ к Вашему местоположению, чтобы найти автосалон поблизости</string>
	<key>NSMotionUsageDescription</key>
	<string>Разрешите доступ к Вашему местоположению, чтобы найти автосалон поблизости</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Разрешите доступ к галерии, чтобы выбрать фото профиля</string>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Pro-Text-Medium.otf</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>com.apple.security.app-sandbox</key>
	<true/>
</dict>
</plist>
